.div-1 {
background-image: url(https://wallpapers.com/images/high/yugioh-yami-yugi-silhouette-psb4d9dg1yg1kcik.webp);
background-size:cover
}
.div-2 {
    background-color: grey;
}
.div-3 {
    background-image: url(https://wallpapers.com/images/high/yugioh-yami-painting-r7bi0iezabwt1cqm.webp);
    background-size:cover
}